{% extends 'base.html' %}

{% block title %}Edit Reservation {{reservation.id}} {% endblock %}

{% block content %}
<h1>Edit Reservation {{reservation.id}}</h1>

<form action="/reservation/{{reservation.id}}/edit" method="post">
  <div class="form-group">
    <label for="start">Start</label>
    <input id="startAt"
           class="form-control"
           name="startAt"
           value="{{ reservation.getformattedStartAt()  }}"
    >
  </div>
  <div class="form-group">
    <label for="num-guests"># of Guests:</label>
    <input class="form-control"
           value="{{ reservation.numGuests }}"
           name="numGuests"
           type="number"
           id="numGuests">
  </div>
  <div class="form-group">
    <label for="notes">Notes:</label>
    <textarea class="form-control"
              name="notes"
              id="notes">{{ reservation.notes }}</textarea>
  </div>
  <button class="btn btn-primary">Update</button>
  <a href="/{{ reservation.customerId }}/" class="btn btn-danger">Cancel</a>
</form>
  
{% endblock %}